html, body {
    height: 100%;
}

body {
    display : flex;
    margin: 0px;
    background-color: #EEE;
    font-family: 'Courier New', verdana;
}


hr {
    margin: 20px 0px 20px 0px;
    border: 0px solid black;
    border-top: 2px solid #183080;
}

.modal-backdrop.fade {
    opacity: 0.5;
}

.modal-open .modal {
    opacity: 1;
}

.outlet a {
    color: #007bff !important;
    text-decoration: none !important;
}

.outlet a:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.modal-dialog {
    transform: none !important;
    -webkit-transform: none !important;
}
