<form #f="ngForm">
    <h3>Informations concernant l'étudiant</h3>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nom_etudiant">Nom* :</label>
            <input type="text"  class="form-control" id="nom_etudiant" name="nom_etudiant"required>
        </div>
        <div class="form-group col-md-12">
            <label for="nom_prenom">Prénom* :</label>
            <input type="text"  class="form-control" id="nom_prenom" name="nom_prenom" required>
        </div>
        <div class="form-group col-md-12">
            <label for="nom_utilisateur">Nom d'utilisateur (8 caractères)* :</label>
            <input type="text"  class="form-control" id="nom_utilisateur" name="nom_utilisateur" required>
        </div>
        <div class="form-group col-md-12">
            <label for="mdp_utilisateur">Mot de passe (entre 8 et 30 caractères)* :</label>
            <input type="text"  class="form-control" id="mdp_utilisateur" name="mdp_utilisateur" required>
        </div>
        <div class="form-group col-md-12 grid">
            <label for="date_bts">Date d'obtention du BTS :</label>
            <input type="date" name="date_bts" id="date_bts">
        </div>

        <div class="form-group col-md-12">
            <label>Classe* :</label>
            <select class="custom-select custom-select-lg mb-3" name="classe" [compareWith]="compare" [(ngModel)]="stagiaire.classe"  required>
                <option [ngValue]="undefined">Choisissez une classe</option>
                <option *ngFor="let classe of classes" [ngValue]="classe">{{classe.nomClasse}}</option>
            </select>
        </div>

    </div>
    <div style="text-align: center">

    </div>

</form>
