<div style="text-align: center;">
<h1>Aide</h1>
    <h3>Bienvenue sur la FAQ</h3>
</div>
<hr>
<h4> Entreprise </h4>

<ngb-accordion [closeOthers]="true">
    <ngb-panel title="Comment rechercher une entreprise ?">
        <ng-template ngbPanelContent>
            Si vous voulez rechercher une entreprise, vous devez aller sur la page "Entreprise" et chercher blah blah
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Comment ajouter une entreprise ?">
        <ng-template ngbPanelContent>
            Si vous voulez ajouter une entreprise, et blah blah met ce que tu veux :heart:
        </ng-template>
    </ngb-panel>
</ngb-accordion>




