<div class="boutons">
    <h3>{{ nbStages }}</h3>
    <button *ngIf="userIsProfesseur" class="btn btn-primary" (click)="downloadAsPDF()">Exporter en PDF</button>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Opération</th>
        <th scope="col">Identifiant</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Observation</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Professeur</th>
        <th scope="col">Entreprise</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stage of stages">
        <td>
            <a class="icone" [routerLink]="" (click)="editStage(stage)">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="icone" [routerLink]="" (click)="removeStage(stage) ">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
        <td>{{ stage.id }} </td>
        <td>{{ stage.debutStage |  date: 'dd/MM/yyyy' }}  </td>
        <td>{{ stage.finStage |  date: 'dd/MM/yyyy' }}  </td>
        <td>{{ stage.typeStage | titlecase }} </td>
        <td [innerHTML]="stage.descProjet"></td>
        <td>{{ stage.observationStage }} </td>
        <td>
            <a [routerLink]="'/stagiaire/' + stage.etudiant?.id">
                {{ stage.etudiant?.nomEtudiant }} {{ stage.etudiant?.prenomEtudiant }}
            </a>
        </td>
        <td>{{ stage.professeur?.nomProf }} {{ stage.professeur?.prenomProf }}</td>
        <td>
            <a [routerLink]="'/entreprise/' + stage.entreprise?.id">
                {{ stage.entreprise?.raisonSociale}}
            </a>
        </td>
        <td> </td>
    </tr>
    </tbody>
</table>

<table class="table table-hover" id="pdfTable" #pdfTable hidden>
    <thead>
    <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th scope="col">Observation</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Professeur</th>
        <th scope="col">Entreprise</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stage of stages">
        <td>{{ stage.id }} </td>
        <td>{{ stage.debutStage |  date: 'dd/MM/yyyy'}}  </td>
        <td>{{ stage.finStage |  date: 'dd/MM/yyyy'}}  </td>
        <td>{{ stage.typeStage | titlecase }} </td>
        <td [innerHTML]="stage.descProjet"></td>
        <td>{{ stage.observationStage }} </td>
        <td>{{ stage.etudiant?.nomEtudiant }} {{ stage.etudiant?.prenomEtudiant }} </td>
        <td>{{ stage.professeur?.nomProf }} {{ stage.professeur?.prenomProf }} </td>
        <td>{{ stage.entreprise?.raisonSociale}} </td>
    </tr>
    </tbody>
</table>


