<form #f="ngForm">
    <h3>Information</h3>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nom_entreprise">Nom de l'entreprise* :</label>
            <input type="text" [(ngModel)]="entreprise.raisonSociale" class="form-control" id="nom_entreprise" name="nom_entreprise"required>
        </div>
        <div class="form-group col-md-12">
            <label for="nom_contact">Nom du contact :</label>
            <input type="text" [(ngModel)]="entreprise.nomContact" class="form-control" id="nom_contact" name="nom_contact">
        </div>
        <div class="form-group col-md-12">
            <label for="nom_responsable">Nom du responsable :</label>
            <input type="text" [(ngModel)]="entreprise.nomResp" class="form-control" id="nom_responsable" name="nom_responsable">
        </div>
    </div>
    <h3>Contact</h3>
    <div class="form-group">
        <label for="rue">Rue* :</label>
        <input type="text"  [(ngModel)]="entreprise.rueEntreprise" class="form-control" id="rue" name="rue" required>

        <label for="codepostal">Code postal* :</label>
        <input type="text" [(ngModel)]="entreprise.cpEntreprise" class="form-control" id="codepostal" name="codepostal"required>

        <label for="ville">Ville* :</label>
        <input type="text" [(ngModel)]="entreprise.villeEntreprise" class="form-control" id="ville" name="ville"required>

        <label for="telephone">Téléphone* :</label>
        <input telFormatter type="tel" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" maxlength="14" [(ngModel)]="entreprise.telEntreprise" class="form-control" id="telephone" name="telephone" required>

        <label for="fax">Fax :</label>
        <input telFormatter type="tel" pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" maxlength="14" [(ngModel)]="entreprise.faxEntreprise" class="form-control" id="fax" name="fax">

        <label for="email">Email :</label>
        <input type="email" [(ngModel)]="entreprise.email" class="form-control" id="email" name="email">
    </div>
    <h3>Divers</h3>
    <div class="form-group">
        <label for="observation">Observation :</label>
        <textarea class="form-control"  [(ngModel)]="entreprise.observation" id="observation" name="observation"></textarea>
        <label for="url">Url de site :</label>
        <input type="text" [(ngModel)]="entreprise.siteEntreprise" class="form-control" id="url" name="url">
        <label for="niveau">Niveau* :</label>
        <input type="text" [(ngModel)]="entreprise.niveau" class="form-control" id="niveau" name="niveau" required>
    </div>
    <!--<h3>Spécialité</h3>
    <div class="form-group">
        <label>Specialite :</label>
        <select class="custom-select custom-select-lg mb-3">
            <option *ngFor="let specialite of specialites" [ngValue]="specialite.id">{{specialite.libelle}}</option>
        </select>
    </div>-->
    <div style="text-align: center">
        <button *ngIf="!isEditing; else editButton" (click)="ajout()" class="btn btn-primary" [disabled]="!f.valid">Ajouter cette entreprise</button>
        <ng-template #editButton>
            <button (click)="edit()" class="btn btn-primary" [disabled]="!f.valid">Modifier cette entreprise</button>
        </ng-template>
    </div>

</form>
