<h1><div style="text-align: center;">{{entreprise?.raisonSociale}}</div></h1>
<hr>
<div class="card-deck">
<div class="card">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
        <h5 class="card-title"><b>Informations</b></h5>
        <br>
        <p class="card-text">Nom de l'entreprise : {{entreprise?.raisonSociale}} </p>
        <p class="card-text">Nom du contact : {{entreprise?.nomContact}} </p>
        <p class="card-text">Nom du responsable : {{entreprise?.nomResp}} </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><b>Contact</b></h5>
        <br>
        <p class="card-text">Rue : {{entreprise?.rueEntreprise}} </p>
        <p class="card-text">Code postal : {{entreprise?.cpEntreprise}} </p>
        <p class="card-text">Ville : {{entreprise?.villeEntreprise}} </p>
        <p class="card-text">Téléphone : {{entreprise?.telEntreprise}} </p>
        <p class="card-text">Fax : {{entreprise?.faxEntreprise}} </p>
        <p class="card-text">Email : {{entreprise?.email}} </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><b>Divers</b></h5>
        <br>
        <p class="card-text">Observation : {{entreprise?.observation}} </p>
        <p class="card-text">Url du site : {{entreprise?.siteEntreprise}} </p>
        <p class="card-text">Niveau : {{entreprise?.niveau}} </p>
        <p class="card-text">Spécialité: SPECIALITE </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
</div>
<hr>
<h3>Stage</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Opération</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Projet</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let stage of stages">
        <td>OPERATION</td>
        <td>{{stage.etudiant?.nomEtudiant}} {{stage.etudiant?.prenomEtudiant}}</td>
        <td [innerHTML]="stage.descProjet"></td>

    </tr>


    </tbody>
</table>

