<div class="boutons">
    <div class="input-group">
        <input type="text"  [(ngModel)]="nom" (keydown.enter)="rechercher()" class="form-control" placeholder="Tapez le nom et/ou prénom du stagiaire" name="search">
        <div class="input-group-btn">
            <button class="btn btn-default" (click)="rechercher()">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>

    </div>
    <button type="button" class="btn btn-primary" [routerLink]="'/stagiaire/ajout'"><span class="glyphicon glyphicon-plus"> Ajouter un étudiant</span></button>

</div>

<hr>

<h3>{{ nbStagiaires }}</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Opération</th>
        <th scope="col">Etudiant</th>
        <th scope="col">Entreprise</th>
        <th scope="col">Professeur</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stagiaire of stagiaires_find">
        <td>
            <a class="icone" [routerLink]="'/stagiaire/'+ stagiaire.id">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a class="icone" [routerLink]="" (click)="editEtudiant(stagiaire)">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="icone" [routerLink]="" (click)="removeEtudiant(stagiaire) ">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <!--<a class="icone" [routerLink]="" (click)="removeEntreprise(entreprise)">
                <span class="glyphicon glyphicon-remove"></span>
            </a>-->




        </td>
        <td>{{ stagiaire.prenomEtudiant }} {{ stagiaire.nomEtudiant }}</td>
        <td (click)="navigateToEntreprise(stagiaire)"> <a>{{getEntreprise(stagiaire)?.raisonSociale}}</a></td>
        <td> {{getProfesseur(stagiaire)?.prenomProf }} {{getProfesseur(stagiaire)?.nomProf }}</td>
    </tr>
    </tbody>
</table>

