<div class="boutons">
<div class="input-group">
    <input type="text" [(ngModel)]="nom" (keydown.enter)="rechercher()" class="form-control" placeholder="Tapez l'entreprise ou le nom du responsable" name="search">
    <div class="input-group-btn">
        <button class="btn btn-default" (click)="rechercher()">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>

</div>
    <button type="button" class="btn btn-primary" [routerLink]="'/entreprise/ajout'"><span class="glyphicon glyphicon-plus"> Ajouter une entreprise</span></button>

</div>

<hr>
<div class="boutons">
<h3>{{ nbEntreprises }}</h3>  <button class="btn btn-primary" (click)="downloadAsPDF()">Exporter en PDF</button>

</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Opération</th>
        <th scope="col">Entreprise</th>
        <th scope="col">Responsable</th>
        <th scope="col">Adresse</th>
        <th scope="col">Site</th>
        <th scope="col">Spécialité</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entreprise of entreprises_find">
        <td>
            <a class="icone" [routerLink]="'/entreprise/' + entreprise.id">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a  class="icone" [routerLink]="" (click)="editEntreprise(entreprise)" *ngIf="userIsProfesseur">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="icone" [routerLink]="" (click)="inscription(entreprise)">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a class="icone" [routerLink]="" (click)="removeEntreprise(entreprise) " *ngIf="userIsProfesseur">
                <span class="glyphicon glyphicon-remove"></span>
            </a>





        </td>
        <td>{{ entreprise.raisonSociale }} </td>
        <td>{{ entreprise.nomResp}}  </td>
        <td>{{ entreprise.rueEntreprise}} {{ entreprise.cpEntreprise}} {{ entreprise.villeEntreprise}}  </td>
        <td>
            <a href="{{ entreprise.siteEntreprise }}">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </td>
        <td>{{ getSpecialitesLibelle(entreprise) }}</td>
    </tr>
    </tbody>
</table>


<table class="table table-hover"  id="pdfTable" #pdfTable hidden>
    <thead>
    <tr>
        <th scope="col">Entreprise</th>
        <th scope="col">Responsable</th>
        <th scope="col">Adresse</th>
        <th scope="col">Spécialité</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entreprise of entreprises_find">
        <td>{{ entreprise.raisonSociale }} </td>
        <td>{{ entreprise.nomResp}}  </td>
        <td>{{ entreprise.rueEntreprise}} {{ entreprise.cpEntreprise}} {{ entreprise.villeEntreprise}}  </td>
        <td>{{ getSpecialitesLibelle(entreprise) }}</td>
    </tr>
    </tbody>
</table>
