<h3>Statistiques</h3>
<div class="card-deck">
    <div class="card">
        <div class="card-body" >
            <h5 class="card-title">Répartition du nombre d'élèves dans les classes</h5>
            <div style="display: block">
                <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Les entreprises selon leurs spécialités </h5>
            <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets1"
                    [labels]="chartLabels1"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Stage combien de stagiaire ayant trouvé une entreprise</h5>
            <canvas mdbChart
                    [chartType]="chartType"
                    [datasets]="chartDatasets2"
                    [labels]="chartLabels2"
                    [colors]="chartColors"
                    [options]="chartOptions"
                    [legend]="true"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>
